/*start default theme*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav > .active >a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.optionbox .gear-check
{
    background-color:forestgreen;
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.features .feat span.glyphicon,
.testimonials span,
.ourskills h1,
#scroll-top,
.footer h3,
.footer .copyright span
{
    color:forestgreen;
}
.dropdown-menu,
.testimonials .carousel-indicators li.active
{
    border-top:3px solid forestgreen;
}
.testimonials .carousel-indicators li.active
{
    border:3px solid forestgreen;
}
.dropdown-menu, .testimonials .carousel-indicators li.active
{
    border-top:3px solid forestgreen;
}
.optionbox .coloroption
{
    border:2px solid forestgreen;
}
