/*start media query*/
@media (max-width:767px)
{
    .navbar
    {
        position: static;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse
    {
        max-height: none;
    }
   .navbar-inverse .navbar-brand
    {
        font-size:25px;
    }
    .navbar-inverse .navbar-nav > li > a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .carousel
    {
        display:none;
    }
    .subscribe .form-control
    {
        margin:20px auto;
    }
    .testimonials
    {
        height:auto;
    }
    .testimonials p
    {
        font-size:12px;
    }
}
@media (min-width:768px) and (max-width:991px)
{
   
}
@media (min-width:992px) and (max-width:1199px)
{
   
}
@media (min-width:1200p)
{
   
}
/*start media query*/